h1, h2, p {
    text-align: center;
}

body {
    background-color: burlywood;
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
}

/*serif font added after impact font incase impact isn't available*/
h1, h2 {
    font-family: Impact, serif;
}

h1 {
    font-size: 40px;
}
  
h2 {
    font-size: 30px;
}

/*margin-auto to center #menu within body*/
/*use of % is percentage within parent tag so in menu's case thats 80% of body*/
.menu {
    width: 80%;
    background-color: burlywood;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 500px;
}

.flavor, .dessert {
    text-align: left;
    width:75%;
}

.price {
    text-align: right;
    width:25%;
}

/*puts all class items inline*/
.item p {
    display: inline-block;
}

.established {
    font-style: italic;
}